* {
    margin: 0;
    box-sizing: border-box;
}
@font-face{
  font-family:'pokemon_hollow';
  src: url('../fonts/fonts/Pokemon Hollow.ttf') 
}
html {
  background-image: url('https://wallpapercave.com/wp/wKcMFOD.jpg');
}
h1 {
  color: #ECB206;
  font-family: pokemon_hollow, san serif ;
  font-size: 4rem;
  text-align: center;
  margin: 15px;
}
p {
  color: #ECB206;
  font-family: pokemon_hollow, san serif ;
  font-weight: bold;
  text-align: center;
}
.pokemonGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.scene {
    width: 200px;
    height: 260px;
    border: 1px solid #CCC;
    margin: 10px ;
    perspective: 600px;
  }
  .card {
      width: 100%;
      height: 100%;
      transition: transform 1s;
      transform-style: preserve-3d;
      cursor: pointer; 
      position: relative;
  }
  .card.is-flipped {
    transform: rotateY(180deg);
  }
  .card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  /*line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;*/
  backface-visibility: hidden;
}
.card__face--front {
  background: rgb(71, 115, 182);
}
.card__face--back {
  display: flex;
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  background-color: #1d236c;
}


