* {
    margin: 0;
    box-sizing: border-box;
}
@font-face{
  font-family:'pokemon_hollow';
  src: url('../fonts/fonts/Pokemon Hollow.ttf') 
}
html {
  background-image: url('../personal-portfolio/images/pokemon/pokemon-blue-bkgrd.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
ul h3 {
  color: #122469; /*#ECB206 */
  text-align: center;
}

h1 {
  color: #ECB206 ;/*#ECB206 */
  font-family: 'pokemon_hollow', 'san serif' ;
  font-size: 4rem;
  text-align: center;
  margin: 15px;
}
p {
  font-family: 'pokemon_hollow', 'san serif' ;
  font-weight: bold;
  text-align: center;
}
.poke-container {
  display: flex;
  justify-content: space-around;
  margin: 1rem ;
}
div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.pokemonGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.scene {
    width: 200px;
    height: 260px;
    margin: 10px ;
    perspective: 600px;
   
  }
  .card {
      width: 100%;
      height: 100%;
      transition: transform 1s;
      transform-style: preserve-3d;
      cursor: pointer; 
      position: relative;
  }
  .card.is-flipped {
    transform: rotateY(180deg);
  }
  .card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  border-radius: 10px;
}
.card__face--front {
  background-image: url('../personal-portfolio/images/pokemon/pokemon_2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid black
}
.card__face--front p {
  filter: drop-shadow(20px 8px 1px rgb(77, 77, 74));
}
.card__face--back p {
  text-align: center; 
}
.card__face--back {
  background-image: url('../personal-portfolio/images/pokemon/pokemon_3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color:#ECB206;
  transform: rotateY(180deg); /*when card is rotated, or rotated, card back isn't visible*/
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid black
}
li {
list-style-type: circle;/* liked this type better*/
align-items: center; /*this fixed the alignment*/
}
.poke_image {
  width: 180px;
  height:180px;
  margin: 15px 0 0 0;
  filter: drop-shadow(10px 5px 1.5px rgb(66, 66, 62));/*wanted to give the image a 3d look, the 1st input is offset-x, then offset-y, the blur radius, then its color*/
}
button {
  display: inline-flex;           
  justify-content: space-between;  
  margin: 2rem;                   
  color: #ECB206;
  font-family: 'pokemon_hollow', 'san serif';
  font-size: 1.5rem;
  background-color: #122469;
  border-radius: 10px;
}