*{
    margin: 0px;
    box-sizing: border-box;
}
html{
    background-image: url('https://papers.co/wallpaper/papers.co-ao69-starwars-darth-vader-art-film-blue-23-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.mainHeader {
    display: flex;
    justify-content: space-around;
    background-color: beige;
    margin: 1rem;
}
#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
figure {
    margin: 1rem;
}
figure img {
    max-height: 12rem;
}