@font-face{
    font-family: "sf_distant_galaxy";
    src:url("../fonts/sf_distant_galaxy/SF\ Distant\ Galaxy\ AltOutline.ttf")
}
*{
    margin: 0px;
    box-sizing: border-box;
}
html{
    background-image: url('https://papers.co/wallpaper/papers.co-ao69-starwars-darth-vader-art-film-blue-23-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.mainHeader {
    display: flex;
    justify-content: space-around;
    background-color: beige;
    margin: 1rem;
}
#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
figure {
    margin: 1rem;
}
figure img {
    max-height: 12rem;
    border-radius: 10px;

}
figcaption{
    color: #fbed66;
    font-family: sf_distant_galaxy, sans-serif;
    text-align: center;
    font-size: 1rem;
    text-shadow: 5px 5px 5px black;
}
button {
    background-color: #3b6ab8;
    color: #fbed66;
    text-shadow: 5px 5px 5px black;
    border: 0;
    border-radius: 10px;
    box-shadow: none;
    font-size: 2rem;
    font-family: sf_distant_galaxy, sans-serif;
}

