html {
  background-image: url('../personal-portfolio/images/congress/capitol.png');
    background-repeat: no-repeat;
    background-size: cover;
}
  body {
   font-family: open sans, sans-serif;
   font-weight: bold;
  }
  
  header {
    text-align: center;
    color: white;
    font-size: 2rem;
  }
  img{
    border: 5px solid white;
  }
  
  .senatorGrid {
    display: flex;
    flex-wrap: wrap;
  }
  .senatorGrid {
    display: flex;
    flex-wrap: wrap;
  }
  
  figure {
    margin: .5rem;
  }
  
  figcaption {
    display: flex;
    justify-content: space-around;
    font-size: 1.1rem;
    color: #fff;
    }
    button{
      display: inline;
      background-color: maroon;
      color: whitesmoke;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.5rem;
      border-radius: 7px;
      margin: 10px;
    }
    button:hover {
      background-color: rgb(52, 52, 124);
    }
    