html {
  background-image: url('/personal-portfolio/images/congress/american-4402598_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
  body {
   font-family: open sans, sans-serif;
   font-weight: bold;
  }
  
  header {
    text-align: center;
    color: white;
    font-size: 2rem;
  }
  img{
    border: 5px solid white;
  }
  
  .senatorGrid {
    display: flex;
    flex-wrap: wrap;
  }
  .representativeGrid {
    display: flex;
    flex-wrap: wrap;
  }
  
  figure {
    margin: .5rem;
  }
  
  figcaption {
    display: flex;
    justify-content: space-around;
    font-size: 1.1rem;
    color: rgb(124, 105, 105);
    }